/* ==========================================================
   RESET & GLOBAL
========================================================== */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:#966FD6;
    font-family:'DM Sans',sans-serif;
    overflow:hidden;
    color:white;
}

/* ==========================================================
   DASHBOARD LAYOUT
========================================================== */

.dashboard{

    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;

}

.main{

    width:100%;
    height:100%;

    position:relative;

}

.dashboard.calendar-hidden{

    grid-template-columns:0 1fr;

}


/* ==========================================================
   CALENDAR PANEL
========================================================== */
.calendar-panel{

    position:absolute;

    top:0;
    left:0;

    width:440px;
    height:100vh;

    padding:35px;

    background:rgba(255,255,255,.10);
    backdrop-filter:blur(30px);

    overflow:hidden;

    z-index:100;

    transform:translateX(0);

    transition:transform .55s cubic-bezier(.22,1,.36,1);

}

.calendar-panel.hidden{

    transform:translateX(calc(-100% - 35px));


}


.calendar-card{

    width:100%;
    height:calc(100vh - 70px);

    background:white;

    border-radius:10px;

    padding:35px 28px;

    display:flex;
    flex-direction:column;

    box-shadow:0 20px 45px rgba(0,0,0,.15);

}



/* ==========================================================
   CALENDAR HEADER
========================================================== */

.calendar-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.calendar-header h2{

    margin:45px 0;

    text-align:center;

    font-size:32px;

    font-weight:700;

    color:#966FD6;

}


/* ==========================================================
   CALENDAR ENTRY CARDS
========================================================== */

#calendar-entries{

    margin-top:20px;
    padding-top:18px;

    border-top:1px solid #E6E6E6;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;

    flex:1;

    overflow-y:auto;

    padding-right:6px;

}

#calendar-entries::-webkit-scrollbar{

    width:6px;

}

#calendar-entries::-webkit-scrollbar-thumb{

    background:#C8B3F5;

    border-radius:20px;

}

#calendar-entries::-webkit-scrollbar-track{

    background:transparent;

}

.calendar-entry{

    width:100%;

    padding:10px;

    border-radius:10px;

    background:#F8F6FF;

}

.calendar-entry h4{

    color:#966FD6;
    font-size:15px;
    margin-bottom:3px;
    margin:0 0 1px;
}

.calendar-entry p{

   margin:0;
   font-size:12px;
   line-height:1.1;
   color:#777;

}

.entry-rating{

    color:#F4B400;
    font-size:14px;
    margin:4px 0;
    margin-top:2px;

}

/* ==========================================================
   CALENDAR ENTRY DOTS
========================================================== */

.entry-dots{

    position:absolute;

    bottom:4px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    gap:3px;

}

.dot{

    width:5px;

    height:5px;

    border-radius:50%;

}

.dot-movie{
    background:#EF4444;
}

.dot-series{
    background:#3B82F6;
}

.dot-anime{
    background:#EC4899;
}

.dot-book{
    background:#10B981;
}

.dot-game{
    background:#F59E0B;
}

.dot-default{
    background:#000;
}


/* ==========================================================
   CALENDAR GRID
========================================================== */

.days-header{

    display:grid;

    grid-template-columns:repeat(7,1fr);

    text-align:center;

    font-size:13px;

    font-weight:700;

    color:#9B8BC8;

    margin-bottom:24px;

}

.calendar-grid{

    display:grid;

    grid-template-columns:repeat(7,1fr);

    justify-items:center;

    row-gap:18px;

}

.day{

    width:40px;

    height:40px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#966FD6;

    font-size:16px;

    transition:.25s;

    cursor:pointer;

}

.day{
    position:relative;
}

.day:hover{

    background:#F2EBFF;

    transform:scale(1.08);

}

.today{

    background:#966FD6;

    color:white;

    font-weight:700;

}

.selected{

    background:#7F56D9;

    color:white;

}

.day:empty{

    cursor:default;

}

.day:empty:hover{

    background:transparent;

    transform:none;

}

/* ==========================================================
   TOP BAR
========================================================== */

.top-bar{

    position:fixed;

    top:30px;

    right:40px;

    display:flex;

    align-items:center;

    gap:15px;

    z-index:2000;

}

.toggle-btn{

    position:fixed;

    top:28px;
    left:390px;

    width:52px;
    height:52px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:rgba(255,255,255,.16);
    backdrop-filter:blur(20px);

    cursor:pointer;

    transition:
        left .55s cubic-bezier(.22,1,.36,1),
        background .25s,
        transform .2s;

    z-index:1000;

}

.toggle-btn.closed{

    left:20px;

}

.toggle-btn:hover{

    transform:scale(1.08);

    background:rgba(255,255,255,.28);

}

.toggle-btn img{

    width:22px;

    height:22px;

    pointer-events:none;

}

/* ==========================================================
   SEARCH BAR
========================================================== */

.search-container{

    display:flex;
    align-items:center;

    position:relative;

}

#search-input{

    width:0;

    opacity:0;

    padding:10px 42px 10px 18px;

    border:none;
    outline:none;

    border-radius:999px;

    background:rgba(255,255,255,.15);
    backdrop-filter:blur(20px);

    color:white;

    font-size:15px;

    transition:
        width .35s ease,
        opacity .25s ease,
        padding .35s ease;

}

#search-input::placeholder{

    color:#EEE7FF;

}

.search-container.active #search-input{

    width:240px;

    opacity:1;

}

#search-btn{

    position:absolute;

    right:0;

    width:42px;
    height:42px;

    border:none;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.25s;

}

#search-btn:hover{

    background:rgba(255,255,255,.25);

}

#search-btn img{

    width:18px;
    height:18px;

}

.sidebar.open ~ .main .search-container{

    opacity:0;
    pointer-events:none;

}

.empty-search{

    width:100%;
    height:180px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    color:#7A6A9A;

    font-size:15px;

    gap:12px;

}

.empty-search p{

    margin:0;

}

.filter-wrapper{

    position:relative;

}

#filter-btn{

    width:46px;
    height:46px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    display:none;

    justify-content:center;
    align-items:center;

    cursor:pointer;

    padding:0;

}

#filter-btn img{

    width:18px;
    height:18px;

    object-fit:contain;

}
.filter-panel{

    position:absolute;

    top:60px;
    right:0;

    width:220px;

    display:none;

    flex-direction:column;

    gap:12px;

    padding:18px;

    border-radius:20px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(30px);

}

.filter-panel.open{

    display:flex;

}

.filter-panel select{

    width:100%;

    padding:10px 14px;

    border:none;
    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.18);

    color:white;

    font-size:14px;

    cursor:pointer;

}

.filter-panel option{

    color:black;

}

#clear-filters{

    margin-top:8px;

    padding:10px;

    border:none;

    border-radius:12px;

    background:#ffffff22;

    color:white;

    cursor:pointer;

    transition:.25s;

}

#clear-filters:hover{

    background:#ffffff33;

}

/* ==========================================================
   PROFILE
========================================================== */

.profile-pic{

    width:32px;

    height:32px;

    border-radius:50%;

    object-fit:cover;

}

.profile-icon{

    width:42px;
    height:42px;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    display:flex;

    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.4s;

}

.profile-icon:hover,
.menu-btn:hover{

    background:rgba(255,255,255,.25);

}

/* ==========================================================
   MENU BUTTON
========================================================== */

.menu-btn{

    width:42px;
    height:42px;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:5px;

    cursor:pointer;

    transition:.3s;

    z-index:2000;

}

.menu-btn span{

    width:18px;
    height:2.5px;

    background:white;

    border-radius:10px;

    transition:.3s;

}

.menu-btn.active span:nth-child(1){

    transform:translateY(7px) rotate(45deg);

}

.menu-btn.active span:nth-child(2){

    opacity:0;

}

.menu-btn.active span:nth-child(3){

    transform:translateY(-7px) rotate(-45deg);

}

/* ==========================================================
   CENTER CONTENT
========================================================== */

.center{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%) translateX(220px);

    transition:transform .55s cubic-bezier(.22,1,.36,1);

    width:500px;
    max-width:80vw;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;

}

.center.expanded{

    transform:translate(-50%, -50%) translateX(0);

}

.center h1{

    font-family:'Outfit',sans-serif;

    font-size:4rem;

    font-weight:800;

    margin-bottom:20px;

}

.discover-text{

    color:#F4EBFF;

    font-size:1.2rem;

}

/* PLUS BUTTON */

#plus-btn{

    width:100px;

    height:100px;

    margin-top:45px;

    border:none;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    color:white;

    font-size:3rem;

    cursor:pointer;

    transition:.3s;

}

#plus-btn:hover{

    transform:scale(1.08);

    background:rgba(255,255,255,.25);

}

.quote{

    margin-top:35px;

    color:#F4EBFF;

    font-style:italic;

}

/* ==========================================================
   SIDEBAR
========================================================== */

.sidebar{
    position:fixed;
    top:0;
    right:-260px;

    width:250px;
    height:100vh;

    background:rgba(255,255,255,.15);
    backdrop-filter:blur(20px);

    padding:40px 30px;

    display:flex;
    flex-direction:column;
    gap:45px;

    transition:.4s;

    z-index:999;
}

.sidebar.open{
    right:0;
}

.sidebar.open ~ .main .profile-icon{

    opacity:0;

    visibility:hidden;

}

.sidebar h2{
    font-size:1.5rem;
}

.sidebar-item{
    cursor:pointer;
    font-size:1.1rem;
    transition:.2s;
}

.sidebar-item:hover{
    color:#f4ebff;
    transform:translateX(5px);
}


/* ==========================================================
   DASHBOARD ENTRY LIST
========================================================== */

#entries-container{

    margin-top:35px;

    width:420px;

    max-height:280px;

    overflow-y:auto;

}

.entry-card{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    padding:18px;

    border-radius:14px;

    margin-bottom:15px;

    text-align:left;

}

.entry-card h3{

    margin-bottom:8px;

}

.entry-card p{

    opacity:.9;

    margin:4px 0;

}

.entry-actions{

    display:flex;

    justify-content:flex-end;

    gap:4px;

    margin-top:4px;

}


.entry-actions button{

    width:28px;
    height:28px;

    border:none;
    border-radius:8px;

    background:#F3F3F3;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.2s;

}

.entry-actions button img{

    width:16px;
    height:16px;

}

.entry-actions button:hover{

    background:#E8E0FA;
    transform:scale(1.05);

}

/* ==========================================================
   RESPONSIVE
========================================================== */


@media(max-width:768px){

    .calendar-panel{

        display:none;

    }

    .center h1{

        font-size:2.7rem;

    }

    .discover-text{

        font-size:1rem;

    }

}